web_server:
  bind: {{ flexget_bind_host }}
  port: {{ flexget_bind_port }}
api:    {{ flexget_enable_api }}
webui:  {{ flexget_enable_ui }}

# write out schedules in proper format
{{ {'schedules':flexget_schedules} | to_nice_yaml }}

# write out tasks in proper format
{{ {'tasks':flexget_tasks} | to_nice_yaml }}
